body{
	font-family: 'Lato', sans-serif;
	background-color: #D3D3D3;
}
main{
	width: 98%;
	border-radius: 5px;
	margin: auto;
}

h1{
	width: 40%;
	font-family: 'Fondamento', cursive;
}

h2{
	text-transform: capitalize;
}

.nav{
	background-color: #D3D3D3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
.nav-buttons{
	width: 40%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


.iframe{
	display: flex;
	justify-content: center;
	width: 60%
	margin: auto;
}

iframe{
	border-radius: 5px;
}
form{
	width: 80%;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	width: 30rem;
	height: 2rem;
	border-radius: 5px;
}

button{
	width: 10rem;
	height: 2rem;
	border-radius: 5px;
	background-color: yellow;
}

.qualities{
	width: 80%;
	margin: 3rem auto;
	display: grid;
	grid-template-columns: 1fr 3fr;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

#qua-icons{
	color: #e89527;
}

.pricing{
	margin: 3rem auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cards{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 250px;
	height: 250px;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	background-color: purple;
	margin-top: 1.5rem;
}


h3{
	width: 200px;
	border-radius: 5px;
	background-color: blue;
}

.buy{
	color: black;
	background-color: yellow;
	width: 200px;
	border-radius: 5px;
}

.price{
	font-size: 1.5rem;
}

.product-description{
	width: 95%;
}
footer{
	text-align: center;
}

.footer{
	background-color: rgba(150, 157, 168,0.5);
	border-radius: 5px;
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.social{
	width: 30%;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.facebook{
	color: blue;
}

.twitter{
	color: #00acee;
}

.info{
	width: 40%;
	display: flex;
	justify-content: space-between;
}

@media(max-width: 870px){
		

		.pricing{
			flex-direction: column;
		}

}

@media (max-width: 700px) {

		h1, .nav-buttons{
			width: 100%;
		}

		h1{
			text-align: center;
		}

	input{
		width: 90%;
	}
	.nav{
		flex-direction: column;
	}

	.nav-buttons{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.qualities{
		grid-template-columns: 1fr;
		text-align: center;
	}

	.pricing{
		flex-direction: column;
	}
	#qua-icons{
		display: none;
	}
}